@import "./variables";

.btn-primary {
  background: $primary;
  color: $white;
  padding: 10px 18px;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: darken($primary, 10%);
  }
}
